.query-builder {
    align-items: flex-start !important;
}

.query-builder .btn {
    font-size: 12px !important;
    font-weight: bold;
    padding: 4px 8px !important;
}

.query-builder .btn, .query-builder .btn:hover,
/* Airbus specific */
.query-builder .dhxlist-dropdown-current-selection-container {
    color: #545454 !important;
    background-color: #f4f3f3 !important;
    border-color: #c3c3c3 !important;
    border-right-width: 2px !important;
    border-radius: 0px !important;
    border-bottom-width: 2px !important;
}

.query-builder .btn:active,
.query-builder .dhxlist-dropdown-current-selection-container:active {
    background-color: #cfcfcf !important;
}


.query-builder .dhxlist-dropdown-btn {
    border: none !important;
    background: none !important;
}

.query-builder .dhxlist-dropdown-btn img {
    filter: invert(100%);
}

.query-builder .dhxlist-dropdown-current-selection-container {
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 0px 8px !important;
}

.query-builder .btn-danger, .query-builder .btn-danger:hover {
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.query-builder .btn-danger:active {
    color: #fff !important;
    background-color: #a31725 !important;
    border-color: #9b1724 !important;
}

.query-builder .btn-primary.active {
    background-color: #cfcfcf !important;
}

.rules-group-container {
    width: 100%;
    border: none !important;
    background: rgba(0, 0, 0, .05) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.rule-container {
    border: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 0px 1px 1px rgba(0, 0, 0, .1);
}

.query-builder > .rules-group-container {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

.query-builder .rule-header {
    float: left;
    margin-right: 8px !important;
}

.query-builder .rule-header .btn {
    height: 27px !important;
    padding: 0px 8px !important;

    line-height: 27px !important;
    vertical-align: middle !important;
}

.query-builder .form-control {
    font-size: 12px !important;
    height: 30px !important;
}